fastapi
uvicorn
requests
python-dotenv
pydantic
werkzeug
beautifulsoup4
langchain
python-multipart
langchain-openai
langchain-community
langchain-core
langchain-huggingface
faiss-cpu
httpx
transformers
pypdf
scikit-learn
onnxruntime